@media (min-width : 320px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 14vw;
        display: grid;
        grid-template-columns: 50% 50%;
        z-index: 1000;
    }

    .left-header {
        height: 100%;
    }

    .logo {
        font-size: 5vw;
        color: #FFF;
        height: 6vw;
        width: 15vw;
        margin: .1vw 0;
        cursor: pointer;
        position: relative;
        top: 50%;
        right: 23%;
        transform: translateY(-50%);
    }

    .right-header {
        background-color: #FFF;
        position: fixed;
        top: 20vw;
        left: 50%;
        transform: translate(-50%);
        height: 95vw;
        width: 86vw;
        border-radius: 2vw;
        overflow: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .right-header::-webkit-scrollbar {
        display: none;
    }

    .nav-btn {
        position: fixed;
        top: 4.5vw;
        right: 5vw;
        width: 8vw;
        height: 4vw;
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
    }

    .header-menus {
        height: 50vw;
        list-style: none;
        font-size: 5vw;
        padding: 4vw 0 0 0;
    }

    .dropdown {
        margin: 0 0 2vw 4vw;
        text-align: left;
    }

    .drop-btn {
        all: unset;
        cursor: pointer;
        color: hsl(208, 49%, 24%);
        font-size: 4.5vw;
        font-weight: 700;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-decoration: none;
        margin: 0 0 4vw 0;
    }

    .drop-btn:hover {
        text-decoration: underline;
        text-decoration-thickness: 0.5vw;
    }

    .dropdown-img {
        width: 3vw;
        margin: 0 2vw;
    }

    .drop-img {
        transform: scaleY(-1);
    }
    
    .dropdown-content {
        position: relative;
        width: 75vw;
        left: 47%;
        transform: translate(-50%);
        background-color: rgb(245, 245, 245);
        border-radius: 2vw;
        padding: 5vw 0;
    }

    .hidden {
        display: none;
    }

    .dropdown-link {
        all: unset;
        display: block;
        cursor: pointer;
        color: hsl(208, 49%, 24%);
        font-size: 4vw;
        font-weight: 500;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-decoration: none;
        margin: 5vw 0;
    }

    .dropdown-link:hover {
        font-weight: 700;
    }

    .line {
        width: 75vw;
        height: .1vw;
        background-color: rgb(179, 179, 179);
        border: none;
        margin-top: 7vw;
        margin-bottom: 10vw;
    }
    
    .login {
        color: hsl(208, 49%, 24%);
        font-size: 5vw;
        font-weight: 700;;
        text-decoration: none;
    }

    .sign {
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        border-radius: 71px;
        color: #FFF;
        font-size: 4vw;
        font-weight: 700;
        padding: 4vw 10vw;
        border: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        margin: 5vw;
    }

    .sign:hover {
        background: hsl(355, 100%, 74%);
    }
}

@media (min-aspect-ratio: 5/6) {
    .header {
        width: 100vw;
        height: 7vw;
    }

    .logo {
        height: 3vw;
        width: 8vw;
        margin: 0 0 0 -6vw;
    }

    .right-header {
        top: 10vw;
        height: 72vh;
        width: 86vw;
    }

    .nav-btn {
        top: 2vw;
        right: 6vw;
        width: 5vw;
        height: 2.5vw;
    }

    .header-menus {
        padding: 0;
    }

    .dropdown {
        margin-top: 0;
    }

    .drop-btn {
        font-size: 4vh;
    }

    .dropdown-img {
        width: 4vh;
    }
    
    .dropdown-content {
        padding: 2vh 0;
    }

    .dropdown-link {
        font-size: 4vh;
        margin: 3vh 0;
    }

    .line {
        margin-top: 4vh;
        margin-bottom: 8vh;
    }
    
    .login {
        font-size: 4vh;
    }

    .sign {
        font-size: 3vh;
        padding: 3vh 6vh;
        margin-top: 4vh;
    }
}

@media (min-width : 1200px) {
    .header {
        width: 100vw;
        height: 5vw;
        grid-auto-rows: 5vw;
        grid-template-columns: 20% 80%;
    }

    .left-header {
        height: 100%;
        padding: 0 0 0 0vw;
    }

    .logo {
        height: 2.5vw;
        width: 6vw;
        margin: 0vw 16vw;
    }

    .right-header {
        all: unset;
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .nav-btn {
        display: none;
    }

    .header-menus {
        height: 5vw;
        font-size: 1vw;
        padding: 0;
        margin: .4vw 0;
    }

    .dropdown {
        display: inline-block;
        margin: 0 0 0vw 2vw;
        text-align: center;
    }

    .drop-btn {
        color: #FFF;
        font-size: 1.2vw;
        font-weight: 700;
        margin: 1.7vw 0 0 0;
        left: -26vw;
    }

    .drop-btn:hover {
        text-decoration-thickness: 0.2vw;
    }

    .dropdown-img {
        width: 0.7vw;
        margin: 0 .5vw;
    }
    
    .dropdown-content {
        position: absolute;
        width: 12vw;
        left: 5vw;
        border-radius: 1vw;
        padding: 1vw 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .comp {
        left: 13vw;
    }

    .conn {
        left: 22vw;
    }

    .hidden {
        z-index: 1000;
    }

    .dropdown-link {
        color: hsl(240, 10%, 16%);
        font-size: 1vw;
        left: 1.5vw;
        margin: 0.6vw 0;
        transform: unset;
    }

    .line {
        display: none;
    }
    
    .login {
        position: relative;
        color: #FFF;
        bottom: 1.5vw;
        left: 15vw;
        width: 2vw;
        font-size: 1.2vw;
    }

    .sign {
        position: relative;
        background: #FFF;
        bottom: 4.9vw;
        left: 24vw;
        border-radius: 80px;
        color: hsl(353, 100%, 62%);
        font-size: 1.2vw;
        padding: .8vw 2.3vw;
        margin: 1vw;
    }

    .sign:hover {
        color: #FFF;
    }
}